{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}
{% block content %}
<div class="home">
    <h1 class="register-input">Change Password</h1>
    <form method="post" onsubmit="return Validate()" name="changeForm">
        <div class="register-input">
            <input type="password" name="currentPassword" placeholder="Current Password" required>
        </div>
        <div class="register-input">
            <input type="password" name="newPassword" placeholder="New Password" required>
        </div>
        <div id="errorPassword"></div>
        <div class="register-input">
            <input type="password" name="password2" placeholder="Confirm Password" required>
        </div>
        <div id="errorPassword2"></div>
        <div class="register-input">
            <button type="submit" name="register" class="button">Register</button>
        </div>
    </form>
</div>
<script type="text/javascript">
    var password = document.forms["changeForm"]["newPassword"]
    var password2 = document.forms["changeForm"]["password2"]
    var password_error = document.getElementById("errorPassword")
    var password_error2 = document.getElementById("errorPassword2")

    password.addEventListener("blur", passVerif, true)

    function Validate(){
        if(password.value != password2.value)
        {
            password_error2.textContent="Password must match"
            return false
        }
    }

    function passVerif(){
        if(password.value !="")
        {
            password_error.innerHTML=""
            return true
        }
    }
</script>
{% endblock %}