{% extends 'base.html' %}
{% block title %}Forgot Password{% endblock %}
{% block content %}
<div class="home">
        <h1 class="register-input">Forgot Password</h1>
        <form method="post" name="forgotPasswordForm">
            <div>
                <p>Please enter the email associated with your account</p>
            </div>
            <div class="register-input">
                <input type="email" name="emailForm" placeholder="Email" required>
            </div>
            <div class="register-input">
                <button type="submit" name="register" class="button">Submit</button>
            </div>
        </form>
</div>
{% endblock %}